/* ===================================
Variables
=================================== */
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto:400,700&display=swap");
:root {
    /* Color Variables */
    --color-primary-lighter3: #BBDEF7;
    --color-primary-lighter2: #A4D2F4;
    --color-primary-lighter1: #8EC8F1;
    --color-primary-light: #77BCEE;
    --color-primary: #49A6E9;
    --color-primary-dark: #1C90E3;
    --color-primary-darker1: #1981CD;
    --color-primary-darker2: #1673B6;
    --color-primary-darker3: #13659F;
    --color-secondary-lighter: #1A1AFF;
    --color-secondary-light: #0000FF;
    --color-secondary: #0000CC;
    --color-secondary-dark: #000099;
    --color-secondary-darker: #000080;
    --color-gray-1: #181818;
    --color-gray-2: #303030;
    --color-gray-3: #484848;
    --color-gray-4: #606060;
    --color-gray-5: #787878;
    --color-gray-6: #909090;
    --color-gray-7: #A8A8A8;
    --color-gray-8: #C0C0C0;
    --color-gray-9: #D8D8D8;
    --color-gray-10: #F0F0F0;
    --color-black: black;
    --color-white: white;
    --color-green: green;
    --color-red: rgba(255, 0, 0, 0.702);
    --color-gold: #c59d5f;
    /* Spacing Variables */
    --spacing-small: .25rem;
    --spacing-medium: .5rem;
    --spacing-large: .75rem;
    --spacing-x-large: 1.25rem;
    /* Duration Variables */
    --duration-paused: paused;
    --duration-slow: 3s;
    --duration-fast: 500ms;
    /* Transition Variables */
    --easing-fast: all 0.3s linear;
    --easing-easeInSine: cubic-bezier(0.12, 0, 0.39, 0);
    --easing-easeOutSine: cubic-bezier(0.61, 1, 0.88, 1)500ms;
    /* Radius Variables */
    --radius-circle: 1rem;
    --radius-large: .5rem;
    --radius-small: .1rem;
    /* Opacity Variables */
    --opacity-opacity-25: 0.25;
    --opacity-opacity-50: 0.5;
    --opacity-opacity-75: 0.75;
    /* Shadow Variables */
    --shadow-level-1: 0 5px 15px rgba(0, 0, 0, 0.1);
    --shadow-level-2: 0 5px 15px rgba(0, 0, 0, 0.2);
    /* Media Query Variables */
    --media-query-phone: 576px;
    --media-query-tablet: 768px;
    --media-query-desktop-small: 992px;
    --media-query-desktop-large: 1200px;
    /* Font Variables */
    --font-family-primary: "Roboto", sans-serif;
    --font-family-secondary: "Open Sans", sans-serif;
    --letter-spacing-dense: -1px;
    --letter-spacing-double: 2px;
    --letter-spacing-double2: 4px;
    --line-height-heading: 1.25;
    --line-height-reset: 1;
    --line-height-text: 1.5
}

/* ===================================
Global Styles
=================================== */
*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: var(--font-family-secondary);
    background-color: hsl(210, 36%, 96%);
    color: var(--color-gray-1);
    line-height: var(--line-height-text);
    font-size: .875rem;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3, h4 {
    letter-spacing: var(--letter-spacing-double);
    text-transform: capitalize;
    line-height: var(--line-height-heading);
    margin-bottom: var(--spacing-large);
    font-family: var(--font-family-primary);
}

h1 {
    font-size: calc(2.5rem + 1.5vw);
}

h2 {
    font-size: calc(1.5rem + .9vw);
}

h3 {
    font-size: calc(1rem + .6vw);
}

h4 {
    font-size: calc(.6rem + .3vw);
}

p {
    margin-bottom: 1rem;
    color: var(--color-gray-5);
}

@media screen and (min-width: 768px) /* for tablet */ {
    body {
        font-size: 1rem;
    }

    h1, h2, h3, h4 {
        line-height: var(--line-height-reset);
    }

    h1 {
        font-size: 4rem;
    }

    h2 {
        font-size: 2.5rem;
    }

    h3 {
        font-size: 1.75rem;
    }

    h4 {
        font-size: 1rem;
    }
}

.btn {
    text-transform: uppercase;
    background: transparent;
    color: var(--color-black);
    padding: 0.375rem 0.75rem;
    letter-spacing: var(--spacing-large);
    display: inline-block;
    transition: var(--easing-fast);
    font-size: 0.875rem;
    border: 2px solid var(--color-black);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    border-radius: var(--radius-large);
}
.btn:hover {
    color: var(--color-white);
    background: var(--color-black);
}
/* section */
.section {
    padding: 5rem 0;
}

main {
    min-height: 100vh;
    display: grid;
    place-items: center;
}
/*
=============== 
Menu
===============
*/

.menu {
    padding: 5rem 0;
}
.title {
    text-align: center;
    margin-bottom: 2rem;
}
.underline {
    width: 5rem;
    height: 0.25rem;
    background: var(--color-gold);
    margin-left: auto;
    margin-right: auto;
}
.btn-container {
    margin-bottom: 4rem;
    display: flex;
    justify-content: center;
}
.filter-btn {
    background: transparent;
    border-color: var(--color-gold);
    font-size: 1rem;
    text-transform: capitalize;
    margin: 0 0.5rem;
    letter-spacing: 1px;
    border-radius: var(--radius-large);
    padding: 0.375rem 0.75rem;
    color: var(--color-gold);
    cursor: pointer;
    transition: var(--easing-fast);
}
.filter-btn:hover {
    background: var(--color-gold);
    color: var(--color-white);
}
.section-center {
    width: 90vw;
    margin: 0 auto;
    max-width: 1170px;
    display: grid;
    gap: 3rem 2rem;
    justify-items: center;
}
.menu-item {
    display: grid;
    gap: 1rem 2rem;
    max-width: 25rem;
}
.photo {
    object-fit: cover;
    height: 200px;
    border: 0.25rem solid var(--color-gold);
    border-radius: var(--radius-large);
}
.item-info header {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px dotted var(--color-gray-5);
}
.item-info h4 {
    margin-bottom: 0.5rem;
}
.price {
    color: var(--color-gold);
}
.item-text {
    margin-bottom: 0;
    padding-top: 1rem;
}

@media screen and (min-width: 768px) {
    .menu-item {
        grid-template-columns: 225px 1fr;
        gap: 0 1.25rem;
        max-width: 40rem;
    }
    .photo {
        height: 140px;
    }
}
@media screen and (min-width: 1200px) {
    .section-center {
        width: 95vw;
        grid-template-columns: 1fr 1fr;
    }
    .photo {
        height: 150px;
    }
}